$phone-width: 250px;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0.5rem;
    padding: 0;
}

.form {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    input {
        text-align: center;
        width: min(30vw, 10rem);
    }
}

.current-weather-view {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;

    .location {
        text-transform: capitalize;
        color: black;
        border: 0.15rem solid red;
        border-radius: 0.5rem;
        width: 20vw;
        height: 3vh;
    }
    .main-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        p {
            margin: 0.1rem 0;
        }

        img {
            display: block;
            height: 30%;
            width: auto;
        }

        .info-container {
            display: flex;
            gap: 1rem;
            justify-content: center;
        }
    }
}

.weekly-weather-container {
    border: 1px solid;
}

.week-container {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    justify-content: center;

    article {
        outline: 1px solid;
        margin-top: 1px;
        margin-left: 1px;
        width: 12vw;
    }
}

@media (min-width: $phone-width) and (max-width: 650px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
    .location {
        display: block;
        padding: 0;
        margin: 0;
        height: auto;
        width: auto;
    }

    .week-container {
        display: flex;
        margin: 1rem 2rem;
        flex-direction: column;
        justify-content: space-evenly;
        p {
            margin: 0.2rem;
            padding: 0;
        }
        article {
            width: 100%;
            height: 30vh;
        }
    }
}
