body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.current-weather-view {
    display: block;
    width: 100%;
    height: 50vh;

    .location {
        text-transform: capitalize;
        color: red;
    }
}

.main-info {
    align-items: center;

    height: 20vh;

    p {
        margin: 0.1rem 0;
    }

    .info-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}

.weekly-weather-container {
    border: 1px solid;
}

.week-container {
    display: flex;
    flex-direction: row;
    width: auto;

    article {
        outline: 1px solid;
    }
}
